<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boua Chain - A Layer-1 Blockhain for Security Tokens</title>
    <%- include ('../partials/header') %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top pt-3 pb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Boua Chain</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span
            class="menu"
            onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
            aria-label="Main Menu"
          >
            <svg width="30" height="30" viewBox="0 0 100 100">
              <path
                class="line line1"
                d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
              />
              <path class="line line2" d="M 20,50 H 80" />
              <path
                class="line line3"
                d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
              />
            </svg>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-mobile navbar-nav me-auto ms-auto mb-2 mb-lg-0">
            <li class="nav-item pe-3 dropdown main-dropdown">
              <a
                class="nav-link dropdown-toggle no-arrow"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Learn <i class="bi bi-chevron-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-1">
                <li>
                  <a class="dropdown-item" href="#">Ecosystem</a>
                  <p class="dropdown-text">
                    Explore Bull's dApps, services, partners and more.
                  </p>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Technical Overview</a>
                  <p class="dropdown-text">
                    Go through a rundown of our tech stack.
                  </p>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Technical Papers</a>
                  <p class="dropdown-text">
                    Read the whitepapers, economic paper, and more.
                  </p>
                </li>
              </ul>
            </li>
            <hr class="mobile-hr" />
            <li class="nav-item pe-3 dropdown main-dropdown">
              <a
                class="nav-link dropdown-toggle no-arrow"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Developers <i class="bi bi-chevron-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-1">
                <li>
                  <a class="dropdown-item" href="#"
                    >Documentation <i class="bi bi-arrow-up-right"></i
                  ></a>
                  <p class="dropdown-text">Start building.</p>
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Github <i class="bi bi-arrow-up-right"></i
                  ></a>
                  <p class="dropdown-text">Access our source code.</p>
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Reward Calculator <i class="bi bi-arrow-up-right"></i
                  ></a>
                  <p class="dropdown-text">Calculate dapp rewards.</p>
                </li>
              </ul>
            </li>
            <hr class="mobile-hr" />

            <li class="nav-item pe-3 dropdown main-dropdown">
              <a
                class="nav-link dropdown-toggle no-arrow"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Network <i class="bi bi-chevron-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-2">
                <li class="d-md-flex">
                  <ul>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Network Status <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">
                        View network uptime and events.
                      </p>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Block Explorers <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">
                        View transaction and network information.
                      </p>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Validator Resouces <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">Learn how to run a node.</p>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Network Information <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">Access network information.</p>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <hr class="mobile-hr" />

            <li class="nav-item pe-3 dropdown main-dropdown">
              <a
                class="nav-link dropdown-toggle no-arrow"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Community <i class="bi bi-chevron-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-2">
                <li class="d-md-flex">
                  <ul>
                    <li>
                      <a class="dropdown-item" href="#">Community Hub</a>
                      <p class="dropdown-text">Access our community.</p>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Partner with us <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">
                        Connect with Core contributors.
                      </p>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Government Forum <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">Discus government proposals.</p>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Blog <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">Stay up to date.</p>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >FAQ <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">
                        Find out what others are asking.
                      </p>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >Brand & Assets Kit <i class="bi bi-arrow-up-right"></i
                      ></a>
                      <p class="dropdown-text">Brand Assets and Guidelines.</p>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <hr class="mobile-hr" />

            <li class="nav-item pe-3">
              <a class="nav-link">Ecosystem</a>
            </li>
          </ul>
          <button class="btn btn-secondary btn-1 nav-btn">Deploy Now</button>
        </div>
      </div>
    </nav>

    <%- body %> <%- include ('../partials/footer') %>

    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-2">
            <h2 class="mb-5">Boua Chain</h2>
          </div>
          <div class="col-6 col-md-2">
            <h3>Developers</h3>
            <ul>
              <li>Developer Hub</li>
              <li>
                Documentation <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
              <li>
                Developer Toolkit
                <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
              <li>Explorer <i class="bi bi-arrow-up-right-circle-fill"></i></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <h3>Ecosystem</h3>
            <ul>
              <li>Ecosystem Hub</li>
              <li>
                Join the Eco <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
              <li>Build <i class="bi bi-arrow-up-right-circle-fill"></i></li>
              <li>Bridge <i class="bi bi-arrow-up-right-circle-fill"></i></li>
              <li>Explorer <i class="bi bi-arrow-up-right-circle-fill"></i></li>
              <li>Stake <i class="bi bi-arrow-up-right-circle-fill"></i></li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <h3>Media</h3>
            <ul>
              <li>
                News Room <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
              <li>
                Brand Kit <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <h3>Explore</h3>
            <ul>
              <li>
                Institutions <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
              <li>
                Foundation Careers
                <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
              <li>
                Lab Career <i class="bi bi-arrow-up-right-circle-fill"></i>
              </li>
              <li>Blog <i class="bi bi-arrow-up-right-circle-fill"></i></li>
              <li>Contact</li>
            </ul>
          </div>
          <div class="col-6 col-md-2">
            <h3>Social</h3>
            <ul>
              <li>Github</li>
              <li>X (Formerly Twitter)</li>
              <li>Telegram</li>
              <li>Discord</li>
              <li>Youtube</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
